{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}  
<figure class="text-center"><h1>Алимов Ринат - Python Developer</h1>
    <p>Обожаю рок, матте, скейт и теперь бекенд разработку на Python.<br></figure>
       <div class="container-md"><p class="text-md-start"> 
       На прошлом месте работы мне приходилось настраивать рекламные кампании в Яндекс.Директ и немного в Google.Ads. Но я всегда хотел понять как написать сайт со знанием языка программирования, а также что такое API и как его надо применять. Осознав, что web-разработка мне более интересна, чем прошлая сфера деятельности, я решил сменить профессию.
       Изучил предложение от Яндекс.Практикум - курс Python-разработчик. Python - это отличный язык программирования с понятным человеко-читаемым синтаксисом, а еще с очень большим комьюнити, что меня очень и привлекает.
       Читаю "Грокаем алгоритмы" А. Бхаргава, "Изучаем Python" М. Лутц, "Django for beginners" William S. Vincent. Слушаю подкасты Moscow Python. Подписан в тг на PythonBoost. Играю на CheckiO, прохожу задания, решая задачки на python. Написал сайт для компании, хочу разобраться как настроить асинхронную форму обратной связи.
       Нравится изучать новое и полезное для работы. Могу взять на себя ответственность, предварительно оценив свои возможности, такое уже было, когда дэдлайн был близок и за последнюю неделю выполнил план отдела по продажам. Всегда готов помочь новичкам в адаптации. Стремлюсь к общению, к дружественной обстановке.
       <br>Катаюсь на скейте и играю на электрогитаре, мы с другом иногда собираемся на репетиционной базе.
           Отдельная благодарность кошке, которая помогла написать часть кода, без тебя я бы не справился.<br></div>
           <img src="{% static "img/Summer.jpg" %}" class="figure-img img-fluid rounded" alt="Summer">
              <br><a href="https://github.com/Alimovriq/" class="card-link">GitHub: Alimovriq</a>
              <br><a href="https://www.linkedin.com/in/alimov-rinat/" class="card-link">Linkedin: Alimov Rinat</a>
              <br>telegram: @Alimovriq</a>
              <br>email: r-alimov@ya.ru</a>

{% endblock %}