{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Стек технологий</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7.13
      </li>
      <li class="list-group-item">
        Django 2.2.9
      </li>
      <li class="list-group-item">
        sorl-thumbnail 12.7.0
      </li>
      <li class="list-group-item">
        подробнее см. прилагаемый файл зависимостей requrements.txt
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Yatube - социальная сеть с возможностью публикации записей с изображениями.
       Записи можно комментировать, на авторов подписываться и вступать в сообщества.
       Восстановление пароля через почту. Настроены пагинация и кэширование. Код покрыт тестами.</p>
  </article>
</div>
{% endblock %}