{% extends 'base.html' %}
{% block title %}
Профайл пользователя {{ user_info.last_name }} {{ user_info.first_name }}
{% endblock %}
{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ user_info.last_name }} {{ user_info.first_name }}</h1>
    <h3>Всего постов: {{ page_obj.end_index }} из {{ page_obj.paginator.count }}</h3> 
    {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' user_info.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' user_info.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div>
    {% for post in page_obj %}
    {% include 'includes/profile_post.html' %}
      <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a><br>    
      {% if post.group %}   
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %} 
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
    {% include 'includes/paginator.html' %}
    {% endblock %}
